<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Description:</b>
  <%= @recipe.description %>
</p>

<p><b>Ingredient + Quantities:</b>
  <ul>
    <% @recipe.recipe_ingredients.each do |ri| %>
      <% if ri.name%>
      <li><%= ri.name %> , <%= ri.amount %> </li>
      <% end %>
    <% end %>
  </ul>
 </p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>

