<%= form_for(@recipe_ingredient_quantity) do |f| %>
  <% if @recipe_ingredient_quantity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_ingredient_quantity.errors.count, "error") %> prohibited this recipe_ingredient_quantity from being saved:</h2>

      <ul>
      <% @recipe_ingredient_quantity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe_ingredient_id %><br />
    <%= f.number_field :recipe_ingredient_id %>
  </div>
  <div class="field">
    <%= f.label :quantity_id %><br />
    <%= f.number_field :quantity_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
